/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #242424;
    background-color: #fff;
    /* White background */
}

.container {
    width: 1200px;
    margin: auto;
}

/* Header */
.header-section {
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 120px;
}

.club-title {
    color: #000;
    /* Black title text */
    font-weight: bold;
    font-size: 42px;
    margin-top: 10px;
}

/* Navigation */
nav {
    width: 100%;
    background: #ff5722;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 8px 18px;
    display: inline-block;
    border-right: 1px solid #ffc3c3;
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    background: #e64a19;
}

/* Slider */
.slider img {
    width: 100%;
    display: block;
}

/* Main Section */
.main-section {
    width: 100%;
    float: left;
    padding: 50px 0 40px 0;
}

.heading {
    font-size: 22px;
    border-bottom: 2px solid #ff5722;
    color: #ff5722;
    margin-bottom: 20px;
    text-align: center;
}

/* Event Images */
.events-section .event {
    width: 31%;
    float: left;
    margin-right: 1%;
}

.events-section .event div {
    padding: 10px;
    background: #f0f3fa;
}

/* Small Images for News/Events/Notice */
.small-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/* About */
.about-us img {
    width: 24%;
    float: left;
}

.about-us div {
    width: 70%;
    float: left;
    margin-left: 20px;
}

/* Gallery */
.gallery img {
    width: 24%;
    margin: 5px;
}

/* Footer */
.footer {
    background: #1f2836;
    padding: 70px 0;
    width: 100%;
    float: left;
}

.footer-sect {
    width: 33%;
    float: left;
    text-align: center;
}

.footer-sect h2,
.footer-sect p,
.footer-contact {
    color: #fff;
}

.footer-menu li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
}